<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Message</title>
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body class="index">
        <h1><%= message.user %></h1>
        <span>created at: <%= message.added %></span>
        <p><%= message.text %></p>
        <a href="/">
            <button style="cursor: pointer">Go back to homepage</button>
        </a>
    </body>
</html>
